:root {
    --primary-color: #FFD700;
    --secondary-color: #001F3F;
    --tertiary-color: ##fcf5f5;
    --button-color: #c5a800;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#courseDetailsImg{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.welcomeHeader{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.welcomeDesc{
    text-align: center;
}




/* Details Of Individual Courses */

details{
    position: relative;
    margin-top: 60px;
    margin-left: 6px;
    z-index: 50;
    background-color: #fcf5f5;
    border: 2px solid #dcdddf;
    border-radius: 15px;
    max-width: 97vw;
}

summary::before { 
    content: '👉 '; 
    /* Icon when details are open */ 
}

details[open] summary::before { 
    content: '😍 '; 
    /* Icon when details are open */ 
}

summary{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0px;
}

#webDev1Img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.courseDetails{
    margin-left: 20px;
    margin-right: 20px;
}
.courseDetails h2{
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 30px;
}

.courseDetails p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.courseDetails h3{
    font-weight: bold;
    margin-bottom: 30px;
}

.courseDetails ul li{
    margin-bottom: 30px;
}

.courseDetails ul li span{
    font-weight: bold;
    margin-right: 3px;
}

.enroll{
    text-align: center;
    margin-bottom: 30px;
}

.enroll a{
    text-decoration: none;
}

.enrollBtn{
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-weight: bold;
}

.enrollBtn:hover{
    background-color: var(--primary-color);
    color: black;
    font-weight: bold;
    font-size: 18px;
}











@media (min-width: 1024px) {
    .welcome{
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
    #courseDetailsImgDiv{
        width: 47%;
        order: 2;
    }
    .intro{
        order: 1;
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .welcomeHeader{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 36px;
    }
    .welcomeDesc{
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    #courseDetailsImg{
        height: 400px;
    }

    summary{
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        margin-left: 30px;
    }

    details{
        margin-left: 20px;
    }

    #webDev1ImgDiv{
        order: 1;
        width: 47%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .courseDetails{
        order: 2;
        width: 50%;
    }

    .detailsDiv{
        display: flex;
        flex-direction: row;
    }
}