/* Our Courses */

.course-header {
    position: relative;
    text-align: center;
    /* margin: 20px 20px; */
    margin-top: 60px;
    margin-bottom: 60px;
}
.course-header:before,
.course-header:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 10%;
    border-bottom: 3px solid #FFD700;
    margin-left: auto;
    margin-right: auto;
}
.course-header:before {
    left: 30%;
}
.course-header:after {
    right: 30%;
}
.course-header span {
    background: #fff;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
}



/* Course Carousel */

.course-carousel {
    margin: 30px 20px;
    background-color: #fcf5f5;
    text-align: center;
    padding: 80px 60px;
}
.course-carousel img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.course-carousel img:hover {
    opacity: 0.8;
}
.course-carousel h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.course-carousel p {
    font-size: 18px;
    margin-bottom: 10px;
}
.course-carousel .button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
}

.course-carousel button:hover{
    background-color: #FFD700;
    color: rgb(63, 63, 63);
}


.course-carousel .price {
    font-size: 20px;
    /* margin-right: 48%;
    margin-left: 40%; */
    background-color: #fcf5f5;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
}
.course-carousel button{
    margin-top: 20px;
}



@media (max-width: 992px) {

    


.course-header span{
    background: #fff;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.course-carousel img:hover {
    opacity: 0.8;
}

.course-carousel button:hover{
    background-color: #FFD700;
    color: rgb(63, 63, 63);
}



.course-header:before {
    left: 20%;
}
.course-header:after {
    right: 20%;
}

.course-card{
    margin-bottom: 35px;
}

.col-md-4{
    display: block;
}

.price{
    font-size: 16px;
    font-weight: 600;
}
    
}